.git
.gitignore
.gitattributes
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.egg-info
dist
build
.pytest_cache
.coverage
*.db
*.log
.DS_Store
README.md
.python-version
*.ipynb
.ipynb_checkpoints
data/train
data/test
trainLabels.csv
